---
layout: default
---
<!--Post {{ id }}-->
<div id="post-{{ id }}" class="post">
  <h2>{{ page.title }}</h2>
  <div class="post-meta">
    <div class="meta-date">{{ page.date | date: "%B %d, %Y" }}&nbsp;|&nbsp;<span class="perma"><a href="{{site.baseurl}}{{page.url}}">Permalink</a></span></div>
    <div class="meta-tags">
      <ul>{{site.tag_title_prefix}}
        {% for tag in page.tags %}
        <li><a href="{{site.baseurl}}/archives/tag/{{ tag }}/" title="Posts tagged {{ tag }}">{{ tag }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {{ content }}

  <hr class="pad" />
</div>
<div class="paginator">

  <div class="left_column">
    {% if page.previous %}
    <a href="{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a>
    {% endif %}
  </div>

  <div class="right_column">
    {% if page.next %}
    <a href="{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a>
    {% endif %}
  </div>

  <div class="clear_both">
  </div>

</div>

<script data-isso="https://www.srijn.net/isso/"
src="https://www.srijn.net/isso/js/embed.min.js"></script>

<section id="isso-thread" data-title="{{ page.title }}"></section>
